// Blob animations
.background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  mix-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: center;
  background-position: -100px -200px;
  clear: both;
  margin: auto;
}

@media (min-width: 1024px) {
  .background {
    position: absolute;
    left: 20%;
    top: 10%;
    height: 1000px;
    width: 1000px;
    mix-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
    clear: both;
    margin: auto;
  }
}


.section-enter.section-enter-active {
  transition: opacity 300ms cubic-bezier(0.94, -0.04, 0.88, 0.68),
    margin 300ms ease-out;
}

.section-exit.section-exit-active {
  transition: opacity 300ms cubic-bezier(0.32, 0.7, 0.26, 1),
    margin 300ms ease-in;
}

.section-enter,
.section-exit.section-exit-active {
  opacity: 0;
}

.section-enter.section-enter-active,
.section-exit {
  opacity: 1;
}
