@import "colors";

// Basic stuff

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $bg;
}

img {
  max-width: 100%;
}

.outer {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}
.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  justify-content: center;
  overflow: hidden;
}

// Header and footer layout

.header-footer {
  position: absolute;
  width: 100%;
}

header,
footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: 3;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.details {
  padding: 0.5em 1em;
}

@media (min-width: 800px) {
  header,
  footer {
    padding: 4em;
  }
}
// Main layout

main {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
  z-index: 2;
}

// Menu layout

.section--content {
  text-align: center;
  justify-self: center;
  overflow-y: scroll;
}


@media (min-width: 800px) {
  .menu {
    display: grid;
    grid:  auto / repeat(3, 1fr);
  }
  .section.container {
    padding: 2em;
    justify-content: start;
  }
}


.section--title {
  cursor: pointer;
  text-align: center;
}

.reservations {
  width: 70%;
  margin: auto;
}

.active {
  color: $accent;
}

.blob-wrapper {
  z-index: 1;
  min-height: 100vh;
  max-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.social-media {
  flex-direction: row;
  justify-content: center;
}

.social-media-icon {
  display: inline-flex;
  height: 48px;
  width: 40px;
  margin-top: 1em;
  margin-right: 2em;
}