// Basic stuff

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $bg;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.wrapper {
  margin: auto;
  max-width: 1200px;
  height: 100vh;
}

// Header and footer layout

header,
footer {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.details {
  padding: 0.5em 1em;
}

@media (min-width: 800px) {
  header,
  footer {
    padding: 4em;
  }
}
// Main layout

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Menu layout

.section--content {
  text-align: center;
  justify-self: center;
}


@media (min-width: 800px) {
  .menu {
    display: grid;
    grid:  auto / repeat(3, 1fr);
    margin-left: 4em;
    margin-right: 4em;
  }
  .section.container {
    justify-content: start;
  }
}


.section--title {
  cursor: pointer;
  text-align: center;
  padding: 1.5em 0;
}

.section--main {
  padding: 0;
  padding-bottom: 1em;
}

.reservations {
  max-width: 400px;
  margin: auto;
}