* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #404040;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  position: fixed;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

.details {
  padding: 0.5em 1em;
}

main {
  margin: auto;
}

.section-enter.section-enter-active {
    transition: opacity 300ms ease-in, margin 300ms ease-out;
}

.section-exit.section-exit-active {
    transition: opacity 300ms ease-out, margin 300ms ease-in;
}

.section-enter,
.section-exit.section-exit-active {
    opacity: 0;
}

.section-enter.section-enter-active,
.section-exit {
    opacity: 1;
}

.section {
  text-align: center;
}

.section--title {
  background: inherit;
  position: relative;
  z-index: 100;
}

.section--content {
  position: relative;
  z-index: 1;
}

.blob {
  animation: rotation 300s infinite linear;
  z-index: -1;
  position: absolute;
  top: -10%;
  left: -10%;
  height: 125vh;
  width: 125vw;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}