.accordion__section {
  display: flex;
  flex-direction: column;
}

.accordion {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
  height: auto;
}

.active {
  background: purple;
}